/* Some general settings used for everything and other minor changes to the body. */
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

img {
	position: fixed;
	display: none;
}

#light {
	left: 0px;
	top: 0px;
	opacity: 0;
}

#dark {
	left: 0px;
	top: 0px;
	opacity: 0;
}